<article class="artwork">
  <p class="crumbs"><a href="{{base}}/">Home</a> &rsaquo; <a href="{{category_url}}">{{category_title}}</a></p>
  <p class="topic">{{category_title}}</p>
  <h1>{{title}}</h1>
  <figure>
    <img src="{{image_url}}" alt="{{alt}}" width="{{width}}" height="{{height}}">
    <figcaption>{{caption}}</figcaption>
  </figure>
  <section class="text">
    <p class="lead">{{description}}</p>
    {{about_html}}
  </section>
  <p class="links"><a href="{{category_url}}">More {{category_title}} artwork</a>{{main_link}}</p>
  {{related_html}}
</article>
